.vscode/
ex3/.vscode/
ex3/node_modules
ex3/.gitignore
MovieCollectionApp/node_modules
MovieCollectionApp/.vscode/
MovieCollectionAppFullCRUD/node_modules
MovieCollectionAppFullCRUD/.vscode/
FastApiMovieCollectionApp/_pycache_
MovieCollectionAppDBConnection/node_modules
MovieCollectionAppDBConnection/.env
MovieCollectionAppDBAuth/node_modules
MovieCollectionAppDBAuth/.env